body {
    background-image: url(files/bg.png);
    background-size: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

main {
    animation: nyitas 1.5s;
    margin-top: 10%;
    padding: 10pt;
    background: linear-gradient(aqua, rgb(0, 100, 255));
    border: 12pt blue solid;
    border-radius: 50px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}

.main-h1{
    border: 1pt blue solid;
    background-color: aqua;
    border-radius: 50px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 5pt;
}

a {
    text-decoration: none;
    color: black;
}

.main-link {
    border-bottom: 3pt blue solid;
    background-color: aqua;
    border-radius: 50px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 5pt;
}

.main-link:hover {
    border: 1pt darkblue solid;
    background-color: white;
    transition: 0.25s;
}
.main-link-suli:hover {
    border: 1pt darkblue solid;
    background-color: white;
    transition: 0.25s;
}

.tomi-img{
    width: 20%;
    margin-bottom: 10pt;
    border-radius: 20px;
    border:3pt blue solid;
}

footer {
    border: 1px blue solid;
    border-radius: 15px;
    margin: 10px;
    background: linear-gradient(aqua, rgb(0, 150, 255));
    padding: 2px;
    padding-right: 2px;
    position: fixed;
    bottom: 0;
}
.szekeres {
    border: 3pt blue solid;
    border-radius: 15px;
    width: 230px;
    height: 250px;
    margin: 10px;
}

.szekeres2 {
    border: 3pt blue solid;
    border-radius: 15px;
    width: 230px;
    height: 250px;
    margin: 10px;
}

@media (max-width: 800px) {
    .main-h1 {
        margin-right: 10%; 
        margin-left: 10%;   
    }
    .main-link{
        margin-right: 10%;
        margin-left: 10%;
        font-size: 24px;
    }
    .tomi-img {
        width: 75%;
    }
    .szekeres2{
        display: none;
    }
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .suli-pic {
        height: 250px;
    }
    .main-text-1{
        margin-bottom: 0px;
    }
}

@keyframes nyitas {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
    
}

.suli-pic{
    
    border: 3pt blue solid;
    border-radius: 15px;
    width: 45%;
    float: left;
}
.main-text-1 {
    border: 1pt blue solid;
    background-color: aqua;
    border-radius: 15px;
    margin-right: 5%;
    margin-left: 50%;
    padding: 5pt;
}
.main-link-suli{
    
    border-bottom: 3pt blue solid;
    background-color: aqua;
    border-radius: 50px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 5pt;
    margin-top: 300px;
}
.main-text-2 {
    border: 1pt blue solid;
    background-color: aqua;
    border-radius: 15px;
    margin-right: 18%;
    margin-left: 18%;
    padding: 5pt;
}